<div class="btn-group" *ngIf="stepperBar">
    <button type="button" [routerLink]="pathFirst" class="btn btn-white btn-sm" title="Primero" (click)="first()" [disabled]="isLoadingData">
        <i class="fa fa-angle-double-left"></i>
    </button>
    <button type="button" [routerLink]="pathPrevious" class="btn btn-white btn-sm" title="Anterior" (click)="previous()" [disabled]="isLoadingData">
        <i class="fa fa-angle-left"></i>
    </button>
    <button type="button" [routerLink]="pathNext" class="btn btn-white btn-sm" title="Siguiente" (click)="next()" [disabled]="isLoadingData">
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" [routerLink]="pathLast" class="btn btn-white btn-sm" title="Ultimo" (click)="last()" [disabled]="isLoadingData">
        <i class="fa fa-angle-double-right"></i>
    </button>
</div>