<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Tipo de falla</h2>
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <button type="button" class="btn btn-primary btn-sm" title="Volver a la lista"
                    [routerLink]='["/failuretypes/"]' [disabled]="isLoadingData">
                    <i class="fa fa-arrow-left"></i> Volver a la lista</button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>{{ editMode ? 'Editar' : 'Crear'}} Tipo de falla</h5>

                    <div class="ibox-tools">

                    </div>

                </div>

                <div class="ibox-content">

                    <div class="alert alert-danger alert-dismissable" *ngIf="serviceException">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ serviceException.message }}
                    </div>

                    <app-spinner-overlay-wrapper [selectedSpinner]="spinnerType.DoubleBounce" [showSpinner]="isLoadingData">

                        <form (submit)="submit()" [formGroup]="formGroup">

                            <div class="form-group row"
                                [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched)}">
                                <label for="name" class="col-sm-2 col-form-label text-sm-right control-label">Tipo de
                                    falla:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="Nombre" formControlName="name">

                                    <span class="text-danger" *ngIf="(name.dirty || name.touched) && name.errors">
                                        <span *ngIf="name.errors.required">Este campo es requerido.</span>
                                        <span *ngIf="name.errors.maxlength">La longitud máxima de este campo es: 30
                                            caracteres.</span>
                                    </span>

                                </div>
                            </div>

                            <div class="form-group row"
                                [ngClass]="{'has-error': description.invalid && (description.dirty || description.touched)}">
                                <label for="description"
                                    class="col-sm-2 col-form-label text-sm-right control-label">Descripción:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="Descripción"
                                        formControlName="description">

                                    <span class="text-danger"
                                        *ngIf="(description.dirty || description.touched) && description.errors">
                                        <span *ngIf="description.errors.maxlength">La longitud máxima de este campo es:
                                            100
                                            caracteres.</span>
                                    </span>

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="button" class="btn btn-white btn-sm"
                                        [routerLink]='["/failuretypes/"]'>
                                        <i class="fa fa-times"></i> Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm ml-1"
                                        [disabled]="formGroup.invalid">
                                        <i class="fa fa-floppy-o"></i> {{ editMode ? 'Editar' : 'Crear'}}
                                    </button>
                                </div>
                            </div>

                        </form>

                    </app-spinner-overlay-wrapper>

                </div>

            </div>
        </div>
    </div>
</div>