<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>{{ objName }}</h2>
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <button type="button" class="btn btn-primary btn-sm" title="{{ appSettingsService.BackToIndexAction }}"
                [routerLink]="indexPath" [disabled]="isLoadingData">
                <i class="fa fa-arrow-left"></i> {{ appSettingsService.BackToIndexAction }}</button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>{{ editMode ? appSettingsService.EditAction : appSettingsService.CreateAction}} {{ objName }}</h5>

                    <div class="ibox-tools">

                    </div>

                </div>

                <div class="ibox-content">

                    <app-alert [text]="serviceException.message" [bgColor]="bgColor.Danger" *ngIf="serviceException"></app-alert>

                    <app-spinner-overlay-wrapper [selectedSpinner]="spinnerType.DoubleBounce" [showSpinner]="isLoadingData">

                        <form (submit)="submit()" [formGroup]="formGroup">

                            <!-- Init Obj Detail -->
                            <div class="form-group row"
                                [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched)}">
                                <label for="name" class="col-sm-2 col-form-label text-sm-right control-label">Tipo de
                                    falla:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="Nombre" formControlName="name">

                                    <span class="text-danger" *ngIf="(name.dirty || name.touched) && name.errors">
                                        <span *ngIf="name.errors.required">{{ appSettingsService.RequiredErrorMessage }}</span>
                                        <span *ngIf="name.errors.maxlength">{{ appSettingsService.MaxLengthErrorMessage }} {{ nameMaxLength }}.</span>
                                    </span>

                                </div>
                            </div>

                            <div class="form-group row"
                                [ngClass]="{'has-error': description.invalid && (description.dirty || description.touched)}">
                                <label for="description"
                                    class="col-sm-2 col-form-label text-sm-right control-label">Descripción:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="Descripción"
                                        formControlName="description">

                                    <span class="text-danger"
                                        *ngIf="(description.dirty || description.touched) && description.errors">
                                        <span *ngIf="description.errors.maxlength">{{ appSettingsService.MaxLengthErrorMessage }} {{ descriptionMaxLength }}.</span>
                                    </span>

                                </div>
                            </div>
                            <!-- End Obj Detail -->

                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="button" class="btn btn-white btn-sm" title="{{ appSettingsService.CancelAction }}"
                                        [routerLink]="indexPath" [disabled]="isLoadingData">
                                        <i class="fa fa-times"></i> {{ appSettingsService.CancelAction }}
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm ml-1" title="{{ editMode ? appSettingsService.EditAction : appSettingsService.CreateAction }}"
                                        [disabled]="formGroup.invalid">
                                        <i class="fa fa-floppy-o"></i> {{ editMode ? appSettingsService.EditAction : appSettingsService.CreateAction }}
                                    </button>
                                </div>
                            </div>

                        </form>

                    </app-spinner-overlay-wrapper>

                </div>

            </div>
        </div>
    </div>
</div>