<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Bienvenido a SapBO.JS</h2>

            <p>
                SapBO.JS es una de las soluciones de negocios más avanzada y robusta del mercado, 100% integrada con SAP Business One.
            </p>

            <p>
                <small>Es fácil de usar y configurar. Es tan simple como lo desees o tan sofisticado como lo necesites.</small>
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Correo" autocomplete="on" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <button class="btn btn-primary block full-width m-b" [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Iniciar sesión
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <!-- <a href="#"><small>Forgot password?</small></a> -->
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Desarrollado y diseñado por <a href="mailto:salas.john@hotmail.com">John Salas</a>
        </div>
        <div class="col-md-6 text-right">
            <small>© 2017-2019</small>
        </div>
    </div>
</div>
