<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tipo de falla</h2>
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-title">
                    <h5>Lista de Tipo de falla</h5>

                    <div class="ibox-tools">

                    </div>
                </div>

                <div class="ibox-content">

                    <span class="text-muted small float-right">Ultima modificación: <i class="fa fa-clock-o"></i> 2019-10-22 18:11</span>
                    <h2>Lista de Tipo de falla</h2>

                </div>
            </div>
        </div>
    </div>
</div>