<nav class="navbar-default navbar-static-side" role="navigation" *ngIf="currentUser">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    <img alt="image" class="rounded-circle" src="assets/images/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">{{ currentUser.fullName }} </span>
                        <span class="text-muted text-xs block"><i class="fa fa-cogs"></i> Opciones de usuario <b
                                class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="contacts.html">Cambiar mi contraseña</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    JS+
                </div>
            </li>

            <!-- AllUsers -->
            <li [ngClass]="{'active': router.isActive('', true) || router.isActive('home', true)}">
                <a routerLink="home"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
            </li>

            <!-- SalesUsers CreditUsers LogisticUsers -->
            <li *ngIf="authenticationService.isSalesUser || authenticationService.isCreditUser || authenticationService.isLogisticsUser">
                <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Artículos</span></a>
            </li>
            <li *ngIf="authenticationService.isSalesUser || authenticationService.isCreditUser || authenticationService.isLogisticsUser">
                <a href="#"><i class="fa fa-list-ol"></i> <span class="nav-label">Ordenes de venta</span></a>
            </li>
            <li *ngIf="authenticationService.isSalesUser || authenticationService.isCreditUser || authenticationService.isLogisticsUser">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Clientes</span></a>
            </li>

            <!-- SalesUsers -->
            <li *ngIf="authenticationService.isSalesUser">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Carrito de compras</span></a>
            </li>
            <li *ngIf="authenticationService.isSalesUser">
                <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">Cotizaciones</span></a>
            </li>

            <!-- SalesUsers CreditUsers LogisticUsers -->
            <li *ngIf="authenticationService.isSalesUser || authenticationService.isCreditUser || authenticationService.isLogisticsUser">
                <a href="#"><i class="fa fa-check"></i> <span class="nav-label">Solicitudes de autorización</span></a>
            </li>

            <!-- LogisticUsers -->
            <li *ngIf="authenticationService.isLogisticsUser">
                <a href="#"><i class="fa fa-truck"></i> <span class="nav-label">Fletes</span></a>
            </li>
            <li *ngIf="authenticationService.isLogisticsUser">
                <a href="#"><i class="fa fa-id-card-o"></i> <span class="nav-label">Conductores</span></a>
            </li>
            <li *ngIf="authenticationService.isLogisticsUser">
                <a href="#"><i class="fa fa-car"></i> <span class="nav-label">Vehículos</span></a>
            </li>

            <!-- MaintenanceUsers -->
            <li *ngIf="authenticationService.isMaintenanceUser">
                <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Mantenimiento </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">OTM</a></li>
                    <li><a href="#">Fallas de máquinas de mantenimiento</a></li>
                    <li><a href="#">Programas de mantenimiento</a></li>
                    <li><a routerLink="productionmachines">Maquinas</a></li>
                    <li><a routerLink="maintenancetypes">Tipos de mantenimiento</a></li>
                    <li><a routerLink="maintenancepriorities">Prioridades de mantenimiento</a></li>
                    <li><a routerLink="jobs">Puestos de trabajo</a></li>
                    <li><a routerLink="employees">Empleados</a></li>
                    <li><a routerLink="timefrequencies">Frecuencias de tiempo</a></li>
                    <li>
                        <a href="#" id="damian">Fallas <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a routerLink="failurecauses">Causas de falla</a></li>
                            <li><a routerLink="failureimpacts">Impactos de falla</a></li>
                            <li><a routerLink="failuremechanisms">Mecanismos de falla</a></li>
                            <li><a routerLink="failureseverities">Severidades de falla</a></li>
                            <li><a routerLink="failuretypes">Tipos de falla</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- ProductionUsers -->
            <li *ngIf="authenticationService.isProductionUser">
                <a href="#"><i class="fa fa-snowflake-o"></i> <span class="nav-label">Producción </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Accesorio</a></li>
                    <li><a href="#">Formato</a></li>
                    <li><a href="#">Gasto indirecto</a></li>
                    <li><a href="#">Nivel de tinta</a></li>
                    <li><a href="#">Proceso de producción</a></li>
                    <li><a href="#">Tipo de costo</a></li>
                    <li><a href="#">Gramaje</a></li>
                    <li><a href="#">Tipo de material</a></li>
                    <li><a href="#">Material</a></li>
                    <li><a href="#">Formulación de producto</a></li>
                    <li><a href="#">Cotizaciones</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>